---
layout: default
---
<div class="about">
    <article>
        <!-- Description box with profile picture -->
        <div style="overflow:auto">
            {% if page.profile -%}
                <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
                    {%- if page.profile.image %}
                        {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

                        {% if page.profile.image_circular %}
                            {%- assign profile_image_class = "img-fluid rounded-circle" -%}
                        {% else %}
                            {%- assign profile_image_class = "img-fluid rounded" -%}
                        {% endif %}

                        {% include figure.html path=profile_image_path class=profile_image_class alt=page.profile.image -%}
                    {% endif -%}
                    {%- if page.profile.address %}
                        <div class="address">
                            {{ page.profile.address }}
                        </div>
                    {%- endif %}
                </div>
            {%- endif %}
            <header class="post-header">
                <h1 class="post-title">
                    {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{
                    site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
                </h1>
                <p class="desc">{{ page.subtitle }}</p>
            </header>
            <p>{{ page.description | markdownify }}</p>  <!-- https://stackoverflow.com/a/21820968/9352077 -->
        </div>

        <!-- Additional stuff inserted by about.md -->
        <div class="clearfix">
            {{ content }}
        </div>
    
        {% if page.show_news -%}
            <!-- News -->
            {%- include internal-feed.html listofposts=site.news title="News" %}
        {%- endif %}
        {% if page.show_events %}
            <!-- Events -->
            {%- include internal-feed.html listofposts=site.events title="Events" %}
        {% endif %}
            
        {% if page.show_selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
        {%- endif %}

        <!-- People -->
        {%- include people.liquid %}

        <!--
        <h2 class="category">Funding</h2>
        Our research is supported by:
        <ul>
            <li><a href="https://erc.europa.eu/homepage">European Research Council (ERC)</a> project <a href="https://mainlp.github.io/projects/#ongoingproj">DIALECT</a></li>
            <li><a href="https://dff.dk/en">Danmarks Frie Forskningsfond (DFF)</a>, Sapere Aude Research Leader grant</li>
            <li><a href="https://www.bayern.de/politik/hightech-agenda/">Bayerische Staatsregierung HTA</a></li>
            <li><a href="https://mcml.ai/">Munich Center for Machine Learning (MCML)</a></li>
            <li><a href="https://www.bidt.digital/">Bayerisches Forschungsinstitut für Digitale Transformation (bidt)</a></li>
        </ul>
        -->

        <h2 class="category">Find us</h2>
        We are located at Celestijnenlaan 200A, 3001 Heverlee, Belgium.<br/>

        {%- if page.show_socials %}
            <!-- Social -->
            <div class="social">
                <div class="contact-icons">
                    {% include social.html %}
                </div>

                <div class="contact-note">
                    {{ site.contact_note }}
                </div>
            </div>
        {%- endif %}
    </article>
</div>
